html body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: black;
    cursor: url("src/dotcursor.cur") 0 0, auto;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: fill;
    width: 100%;
    height: 100%;
    z-index: -2;
    filter: blur(0px);
    transform: scale(1.05);
}

.navbar {
    z-index: 1;
    color: white;
    height: 50px;
    margin-top: 10px;
    width: 97%;
    margin-left: 1.5%;
    align-items: start;
}

.brand-name {
    font-size: 2em;
    margin-top: 7.5px;
    color: #ffffff;
    font-family: "Cascadia Code", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-optical-sizing: auto;
    width: 15%;
    float: right;
    margin-right: 42%;
}

.menu {
    width: 4%;
    font-family: "Cascadia Code", sans-serif;
    font-weight: 200;
    font-style: italic;
    font-optical-sizing: auto;
    font-size: 1em;
    color: white;
    margin-top: 4px;
    margin-left: 12px;
    padding: 5px;
    padding-left: 30px;
    border: #c4c2c2 0.1px solid;
    border-radius: 50px;
    float: left;
}

.menu:hover {
    cursor: url("src/hoverdotcursor.cur"), auto;
    background-color: #ffffff;
    color: black;
    transition: 0.5s;
    transform: scale(1.2);
}

.info {
    text-align: center;
    width: 70%;
    height: 50%;
    margin-top: 10%;
    margin-left: 15%;
    border: #c4c2c2 1px solid;
    border-radius: 50px;
    font-family: "Cascadia Code", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-optical-sizing: auto;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(2.5px);
    backdrop-filter: blur(2.5px);
}

.description {
    margin-top: 17%;
    text-decoration: dotted underline;
}

.get-in-touch {
    margin-top: 12%;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.dba-login {
    margin-top: 8%;
    margin-left: 35px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Cascadia Code", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-optical-sizing: auto;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(2.5px);
    backdrop-filter: blur(2.5px);
    border-radius: 50px;
    padding: 5px;
    padding-left: 30px;
    border: #c4c2c2 0.1px solid;
    width: 3%;
}

.dba-login:hover {
    cursor: url("src/hoverdotcursor.cur"), auto;
    background-color: #ffffff;
    color: black;
    transform: scale(1.05);
}
